__pycache__
*~
backend/secret_key.txt
frontend/opi/build
frontend/esp32/build
frontend/opi/api-token
frontend/opi/slack-token
camcontrol/esp8266/build/
camcontrol/esp32/build/
camcontrol/esp32/main/gwtoken
frontend/esp32/secrets/
