[Unit]
Description=Barn ACS UI Service

[Service]
Environment="ACS_TOKEN=REDACTED"
WorkingDirectory=/home/torsten/acsv2/barn/src
ExecStart=/bin/bash -c "cd /home/torsten/acsv2/barn/src; ./bacs.sh"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bacs
User=torsten
Restart=always

[Install]
WantedBy=multi-user.target
