[Unit]
Description=ACS UI Service

[Service]
WorkingDirectory=/home/torsten/acsv2/ui
ExecStart=/bin/bash -c "cd /home/torsten/acsv2/ui; ./ui.sh"
StandardOutput=null
StandardError=null
SyslogIdentifier=acs
User=torsten
Restart=always

[Install]
WantedBy=multi-user.target
